html, body{
    margin:0 ;
    padding:0 ;
    box-sizing:border-box ;
    background: white;
}
header{
    background:red ;
    grid-area:h;
}

main{
    background:blue ;
    grid-area:m ;
}

aside{
    background:yellow ;
    grid-area:a ;
}

footer{
    background:green ;
    grid-area:f ;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas: 
    "h h"
    "m a"
    "f f";
}

.header-container{
    display: flex;
}

.main-container{
    display: flex;
    background-image: url(/img/1562096945621-receita.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.aside-container{
    display: flex;
}

.footer-container{
    display: flex;
}

h1{
   font-size: 25px;
   text-transform: uppercase;
   letter-spacing: 3px;
}

h2{
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

h3{
    font-size: 26px;
    color: red;
}

h4{
    font-size: 16px;
}