.list-h{
    background-color: white;
    color: black;
    width: 50%;
    margin: 20px auto;
    text-align: center;
    border-radius: 20px;
    border: 3px solid rgb(206, 102, 102);
    padding: 10px;
}

.nm{
    font-size: 30px;
}

.dc{
    font-size: 20px;
}

.pc{
    font-size: 20px;
    color: rgb(212, 0, 0);
}

.new-post h2{
    text-align: center;
    margin-bottom: 1rem;
}

form{
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.form-control label {
    margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
}

.btn {
    background-color: rgb(223, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    align-items: center;

}